*{
    margin:0;
    padding:0;
}


body{
    border-left: 5px solid #b3b3b3;
    min-height: 100%;
    font-family: "Arimo", sans-serif;
    max-width: 1000px;
    margin:auto;
}

header, main, footer{
    padding: 1rem 2rem;
}

h1{
    color:#ff2c2c;
    font-weight: 400;
    font-size: 60px;
}

ul{
    list-style-type: none;
    display: flex;
}

ul:first-child{
    justify-content: space-between;
    font-size: 20px;
}

#main a{
    color:#808080;
    text-decoration: underline 2px lightgray;
}

#footer a{
    color:#ff2c2c;
}

footer p{
    color:#808080;
}


a{
    text-decoration: none;
}

.continue{
    text-align: right;
}
.continue a{
    font-weight: 800;
    color:#ff2c2c;
    font-size: 20px;
}
article{
    margin-bottom: 4rem;
    border-bottom: 2px solid #808080;
    padding-bottom: 2rem;
}

.description::first-letter{
    font-size: 100px;
    /* padding-right: 20px; */
    margin-right: 1rem;
    line-height: 0.8;
    float: left;
    color:#808080;
    height: 100px;
}

.description{
    padding-top: 20px;
    font-size: 20px;
    color:#4d4d4d;
}

img{
    width: 100%;
}

h2{
    font-weight: 500;
    margin-bottom: 2rem;
}

h4{
    font-size: 30px;
    color:#808080;
    font-weight: 400;
}

h3{
    font-size: 40px;
    color:#1a1a1a;
    font-weight: 500;
    margin-bottom: 2rem;
}

footer nav{
    margin-bottom: 2rem;
}